/* line 2, ../scss/main.scss */
#mainMap {
}

/* line 6, ../scss/main.scss */
p {
  text-align: center;
}

/* line 10, ../scss/main.scss */
.btn-default, p {
  margin-top: 1em;
}

h2,h3 {
	text-align: center;
}