/* line 3, ../scss/main.scss */
#mainMap {
  padding-bottom: 1%;
  /*padding-top: 2%;*/
}

/* line 8, ../scss/main.scss */
.mainContainer {
  width: 90%;
}

/* line 12, ../scss/main.scss */
.mainTitle {
  width: 100%;
  text-align: center;
}

/* line 17, ../scss/main.scss */
.control-title {
  text-align: center;
}

/* line 21, ../scss/main.scss */
p {
  text-align: center;
}

/* line 25, ../scss/main.scss */
.btn-default, p {
  margin-top: 1em;
}

/* line 29, ../scss/main.scss */
h2 h3 {
  text-align: center;
}

/* line 33, ../scss/main.scss */
#baseLayers {
  width: 385px;
  margin: auto;
  margin-top: 5px;
}

/* line 42, ../scss/main.scss */
#selectedYear {
  width: 6em;
}

/* line 46, ../scss/main.scss */
#from, #to, #datepicker {
  width: 8em;
}

/* line 50, ../scss/main.scss */
.dropdown-backdrop {
  position: static;
}

/* line 54, ../scss/main.scss */
#animationCanvas {
  /* display: none; */
}

/* line 58, ../scss/main.scss */
#divCanvas {
  position: absolute;
  left: 30%;
  top: 20%;
  z-index: 1000;
  width: 100px;
  height: 100px;
  display: none;
}

/* line 68, ../scss/main.scss */
#previousFrame, #nextFrame, #playAnimation {
  display: none;
  margin-top: 0px;
}

/* line 73, ../scss/main.scss */
#divCanvas > div {
  /*background-color: yellow;*/
  position: relative;
  left: 200px;
}

/* line 80, ../scss/main.scss */
#currentDate {
  width: 100px;
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  position: relative;
  left: 200px;
}
