
/* 
    Created on : Apr 15, 2014, 12:21:47 PM
    Author     : olmozavala
*/

.fullwidth{
	width: 100%;
}

.blue{
	background-color: blue;
	min-height: 10px;
}

.red{
	background-color: red;
	min-height: 10px;
}
.green{
	background-color: green;
	min-height: 10px;
}