@import "compass/css3";

#mainMap{
	padding-bottom: 1%;
	/*padding-top: 2%;*/
}

.mainContainer{
	width: 90%;
}

.mainTitle{
	width: 100%;
	text-align: center;
}

.control-title{
	text-align: center;
}

p{
	text-align: center;
}

.btn-default,p{
	margin-top: 1em;
}

h2 h3{
	text-align: center;
}

#baseLayers{
	width: 385px;
	margin: auto;
	margin-top: 5px;
}

#products_group{
}

#selectedYear{
	width: 6em;
}

#from, #to, #datepicker{
	width: 8em;
}

.dropdown-backdrop {
  position: static;
}

#myCanvas{
	background-color: #14687F;
	@include border-radius(10px);
	/*@include single-box-shadow;*/
	@include box-shadow(#14687F 0px 0px 30px);
	margin: 19px 0px 3px 0px;
}

#divCanvas{
	position: absolute;
	left: 30%;
	top: 20%;
	z-index: 1000;
	width: 100px;
	height: 100px;
	display: none;
}

#previousFrame, #nextFrame, #playAnimation{
	display: none;
	margin-top: 0px;
}

#divCanvas>div{
	width:335px;
	/*background-color: yellow;*/
	position: relative;
	left:200px;
}


#currentDate{
	width:100px;
	background-color: white;
	@include border-radius(3px);
	padding: 7px;
	font-size: 15px;
	position: relative;
	left:200px;
}