
#mainMap{
	width: 90%;
	padding: 1%;
}

.mainContainer{
	width: 90%;
}

.mainTitle{
	width: 100%;
	text-align: center;
}

.control-title{
	text-align: center;
}

p{
	text-align: center;
}

.btn-default,p{
	margin-top: 1em;
}

h2 h3{
	text-align: center;
}

#baseLayers{
	width: 385px;
	margin: auto;
	margin-top: 15px;
}

#products_group{
}

#selectedYear{
	width: 6em;
}

#from, #to, #datepicker{
	width: 8em;
}